@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: #221f23;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

#nav {
  margin-left: 150px;
  width: calc(100% - 200px);
  border-radius: 0px 0px 20px 20px;
  background: #302d31;
}
#nav > .wrap .logo {
  display: none;
}
#nav > .wrap .links > .link {
  font-size: 1.5rem;
  color: #ffffff;
}
#nav > .wrap .links > .link:hover {
  background: #195bb8;
  border-radius: 5px;
}
#nav > .wrap .links > .browse-wrap {
  position: relative;
}
#nav > .wrap .links > .browse-wrap > .link {
  font-size: 1.5rem;
  color: #ffffff;
}
#nav > .wrap .links > .browse-wrap > .link:hover {
  background: #195bb8;
  border-radius: 5px;
}
#nav > .wrap .dropdown {
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  background: #302d31;
  animation: none;
}
#nav > .wrap .dropdown::before {
  width: 100%;
  height: 30px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  left: 0;
  color: transparent;
}
#nav > .wrap .dropdown .primary-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nav > .wrap .dropdown .primary-links .primary-link {
  margin: 0;
  color: #ffffff;
}
#nav > .wrap .dropdown .primary-links .primary-link .icon {
  top: auto;
  color: white;
}
#nav > .wrap .dropdown .primary-links .primary-link a {
  color: #ffffff;
}
#nav > .wrap .dropdown .primary-links .primary-link section .secondary-links {
  display: none;
}
#nav > .wrap .dropdown .primary-links .primary-link:hover a {
  color: #1df1f1;
}
#nav > .wrap .dropdown .primary-links .primary-link:hover .icon {
  color: #1df1f1;
}
#nav > .wrap .dropdown .primary-links .primary-link:hover .label {
  color: #1df1f1;
}
#nav > .wrap .dropdown .footer {
  background: #534f54;
}
#nav > .wrap .dropdown .footer > a {
  color: #ffffff;
}
#nav > .wrap .dropdown .footer > a:hover {
  color: #1df1f1;
}
#nav > .wrap .dropdown .footer > a:hover .icon {
  color: #1df1f1;
}
#nav > .wrap .user .user-wrap .dropdown {
  top: 70px;
}
#nav > .wrap .user .user-wrap .dropdown .primary-links {
  flex-direction: column;
  gap: 15px;
  margin-bottom: 0;
}

.page-content {
  padding: 50px;
  padding-top: 125px;
  margin-left: 100px;
}
.page-content .nav-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #302d31;
}
.page-content .nav-wrap .nav {
  padding: 0;
  min-width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.page-content .nav-wrap .nav a {
  visibility: hidden;
  position: relative;
}
.page-content .nav-wrap .nav a:before {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.page-content .nav-wrap .nav a:nth-child(1)::before {
  content: url(../Icons/Home.svg);
}
.page-content .nav-wrap .nav a:nth-child(2)::before {
  content: url(../Icons/Video.svg);
}
.page-content .nav-wrap .nav a:nth-child(3)::before {
  content: url(../Icons/Book.svg);
}
.page-content .nav-wrap .nav a:nth-child(4)::before {
  content: url(../Icons/Heart.svg);
}
.page-content .nav-wrap .nav a:nth-child(5)::before {
  content: url(../Icons/Stats.svg);
}
.page-content .nav-wrap .nav a:nth-child(6)::before {
  content: url(../Icons/Social.svg);
}
.page-content .nav-wrap .nav a:nth-child(7) {
  display: none;
}
.page-content .nav-wrap .nav a:nth-child(8) {
  display: none;
}
.page-content .nav-wrap .nav a:hover::before {
  background: #534f54;
  border-radius: 5px;
}
.page-content .nav-wrap .nav a.router-link-active::before {
  background: #195bb8;
}
.page-content .nav-wrap .nav a.router-link-active:hover {
  cursor: default;
}
.page-content .nav-wrap .nav a.router-link-active:hover::before {
  background: #195bb8;
}
.page-content > .user {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.page-content > .user .header-wrap {
  border-radius: 5px;
  overflow: hidden;
}
.page-content > .user .header-wrap .banner .container {
  display: flex;
  align-items: center;
}
.page-content > .user .header-wrap .banner .container .banner-content {
  display: flex;
  align-items: center;
  position: relative;
}
.page-content > .user .header-wrap .banner .container .banner-content .name-wrapper .name {
  font-size: 3rem;
}
.page-content > .user .header-wrap .banner .container .banner-content .actions {
  margin: 0;
  position: absolute;
  bottom: -10px;
  left: 175px;
}
.page-content > .user .header-wrap .banner .container .banner-content .actions .nav-btn {
  background: #195bb8;
}
.page-content > .user .header-wrap .banner .container .banner-content .actions .nav-btn:hover {
  background: #1df1f1;
}
.page-content > .user .header-wrap .banner .container .banner-content .actions .dropdown {
  display: none;
}
.page-content > .user .content {
  padding: 0;
}
.page-content > .user .content .overview .section .about .content-wrap {
  background: #302d31;
  color: #ffffff;
}
.page-content > .user .content .overview .section .desktop .section-header {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.page-content > .user .content .overview .section .desktop .activity-history {
  background: #302d31;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day {
  background: #221f23;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-1 {
  background: #094848;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-2 {
  background: #0c6060;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-3 {
  background: #0f7979;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-4 {
  background: #119191;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-5 {
  background: #14a9a9;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-6 {
  background: #17c1c1;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-7 {
  background: #1ad9d9;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-8, .page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-9 {
  background: #1df1f1;
}
.page-content > .user .content .overview .section .desktop .genre-overview {
  background: #302d31;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre {
  display: flex !important;
  flex-direction: row;
  gap: 10px;
  font-weight: 800;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre .name {
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 0px;
  width: 60%;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre .amount {
  background: #221f23;
  padding: 10px;
  width: 30%;
  border-radius: 4px;
  font-size: 1.5rem;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre .amount .label {
  color: #ffffff;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre::before {
  display: block;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 4px;
  width: 10%;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(1) .name {
  background: #1df1f1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(1) .amount {
  color: #1df1f1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(1):before {
  content: "#1";
  background: #1df1f1;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(2) .name {
  background: #1ad9d9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(2) .amount {
  color: #1ad9d9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(2):before {
  content: "#2";
  background: #1ad9d9;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(3) .name {
  background: #17c1c1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(3) .amount {
  color: #17c1c1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(3):before {
  content: "#3";
  background: #17c1c1;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(4) .name {
  background: #14a9a9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(4) .amount {
  color: #14a9a9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(4):before {
  content: "#4";
  background: #14a9a9;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(5) .name {
  background: #119191 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(5) .amount {
  color: #119191 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(5):before {
  content: "#5";
  background: #119191;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(1) {
  background: #1df1f1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(2) {
  background: #1ad9d9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(3) {
  background: #17c1c1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(4) {
  background: #14a9a9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(5) {
  background: #119191 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(6) {
  background: #0f7979 !important;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap {
  overflow: visible;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap .favourite {
  opacity: 60%;
  transition: opacity 250ms ease-in-out, outline 200ms ease-in-out, transform 350ms ease-out;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap .favourite:hover {
  opacity: 100%;
  outline: 3px solid #1df1f1;
  transform: scale(1.2);
  z-index: 5;
  transition: opacity 250ms ease-in-out, outline 500ms ease-in-out, transform 350ms ease-in 500ms;
}

.tooltip {
  color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.tooltip .title {
  color: #ffffff;
  background: #302d31;
}
.tooltip .content {
  color: #ffffff;
  background: #534f54;
}
.tooltip .content .circle {
  background: #221f23;
}
.tooltip .content .circle.lv-1 {
  background: #094848;
}
.tooltip .content .circle.lv-2 {
  background: #0c6060;
}
.tooltip .content .circle.lv-3 {
  background: #0f7979;
}
.tooltip .content .circle.lv-4 {
  background: #119191;
}
.tooltip .content .circle.lv-5 {
  background: #14a9a9;
}
.tooltip .content .circle.lv-6 {
  background: #17c1c1;
}
.tooltip .content .circle.lv-7 {
  background: #1ad9d9;
}
.tooltip .content .circle.lv-8, .tooltip .content .circle.lv-9 {
  background: #1df1f1;
}

.footer[data-v-0f519cab] {
  margin-left: 150px;
  width: calc(100% - 200px);
  border-radius: 20px 20px 0px 0px;
  background: #302d31;
  color: #ffffff;
}
.footer[data-v-0f519cab] .container .theme-selector {
  display: none;
}
.footer[data-v-0f519cab] .container .links {
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer[data-v-0f519cab] .container .links section {
  margin-left: 40px;
  margin-right: 40px;
}
.footer[data-v-0f519cab] .container .links section a:hover {
  color: #1df1f1;
}

@media (min-width: 1540px) {
  .container {
    max-width: 100%;
  }
}/*# sourceMappingURL=darkTheme-AppVer.css.map */