@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");
body {
  background: #221f23;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #1df1f1;
  -webkit-border-radius: 16px;
}

* {
  font-family: "Poppins", sans-serif;
}

#nav {
  margin-left: 150px;
  width: calc(100% - 200px);
  border-radius: 0px 0px 20px 20px;
  background: #302d31;
}
#nav > .wrap .logo {
  display: none;
}
#nav > .wrap .links > .link {
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 5px;
}
#nav > .wrap .links > .link:hover {
  background: #1df1f1;
}
#nav > .wrap .links > .browse-wrap {
  position: relative;
}
#nav > .wrap .links > .browse-wrap > .link {
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 5px;
}
#nav > .wrap .links > .browse-wrap > .link:hover {
  background: #1df1f1;
}
#nav > .wrap .dropdown {
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  background: #302d31;
  animation: none;
}
#nav > .wrap .dropdown::before {
  width: 100%;
  height: 30px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  left: 0;
  color: transparent;
}
#nav > .wrap .dropdown .primary-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nav > .wrap .dropdown .primary-links .primary-link {
  margin: 0;
  color: #ffffff;
}
#nav > .wrap .dropdown .primary-links .primary-link .icon {
  top: auto;
  color: white;
}
#nav > .wrap .dropdown .primary-links .primary-link a {
  color: #ffffff;
}
#nav > .wrap .dropdown .primary-links .primary-link section .secondary-links {
  display: none;
}
#nav > .wrap .dropdown .primary-links .primary-link:hover a {
  color: #1df1f1;
}
#nav > .wrap .dropdown .primary-links .primary-link:hover .icon {
  color: #1df1f1;
}
#nav > .wrap .dropdown .primary-links .primary-link:hover .label {
  color: #1df1f1;
}
#nav > .wrap .dropdown .footer {
  background: #534f54;
}
#nav > .wrap .dropdown .footer > a {
  color: #ffffff;
}
#nav > .wrap .dropdown .footer > a:hover {
  color: #1df1f1;
}
#nav > .wrap .dropdown .footer > a:hover .icon {
  color: #1df1f1;
}
#nav > .wrap .user .user-wrap .dropdown {
  top: 70px;
}
#nav > .wrap .user .user-wrap .dropdown .primary-links {
  flex-direction: column;
  gap: 15px;
  margin-bottom: 0;
}

.page-content {
  padding: 50px;
  padding-top: 125px;
  margin-left: 100px;
}
.page-content .nav-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #302d31;
}
.page-content .nav-wrap .nav {
  padding: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.page-content .nav-wrap .nav a {
  visibility: hidden;
  position: relative;
  height: 100%;
  width: 80px;
}
.page-content .nav-wrap .nav a:before {
  content: "";
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  height: 48px;
  width: 48px;
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #ffffff;
}
.page-content .nav-wrap .nav a:nth-child(1)::before {
  -webkit-mask: url(../Icons/Home.svg) no-repeat 50% 50%;
  mask: url(../Icons/Home.svg) no-repeat 50% 50%;
}
.page-content .nav-wrap .nav a:nth-child(2)::before {
  -webkit-mask: url(../Icons/Video.svg) no-repeat 50% 50%;
  mask: url(../Icons/Video.svg) no-repeat 50% 50%;
}
.page-content .nav-wrap .nav a:nth-child(3)::before {
  -webkit-mask: url(../Icons/Book.svg) no-repeat 50% 50%;
  mask: url(../Icons/Book.svg) no-repeat 50% 50%;
}
.page-content .nav-wrap .nav a:nth-child(4)::before {
  -webkit-mask: url(../Icons/Heart.svg) no-repeat 50% 50%;
  mask: url(../Icons/Heart.svg) no-repeat 50% 50%;
}
.page-content .nav-wrap .nav a:nth-child(5)::before {
  -webkit-mask: url(../Icons/Stats.svg) no-repeat 50% 50%;
  mask: url(../Icons/Stats.svg) no-repeat 50% 50%;
}
.page-content .nav-wrap .nav a:nth-child(6)::before {
  -webkit-mask: url(../Icons/Social.svg) no-repeat 50% 50%;
  mask: url(../Icons/Social.svg) no-repeat 50% 50%;
}
.page-content .nav-wrap .nav a:nth-child(7) {
  display: none;
}
.page-content .nav-wrap .nav a:nth-child(8) {
  display: none;
}
.page-content .nav-wrap .nav a:hover::before {
  background: #119191;
  border-radius: 5px;
}
.page-content .nav-wrap .nav a.router-link-active::before {
  background: #1df1f1;
}
.page-content .nav-wrap .nav a.router-link-active:hover {
  cursor: default;
}
.page-content .nav-wrap .nav a.router-link-active:hover::before {
  background: #1df1f1;
}
.page-content > .user {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.page-content > .user .header-wrap {
  border-radius: 5px;
  overflow: hidden;
}
.page-content > .user .header-wrap .banner .container {
  display: flex;
  align-items: center;
}
.page-content > .user .header-wrap .banner .container .banner-content {
  display: flex;
  align-items: center;
  position: relative;
}
.page-content > .user .header-wrap .banner .container .banner-content .name-wrapper .name {
  font-size: 3rem;
}
.page-content > .user .header-wrap .banner .container .banner-content .actions {
  margin: 0;
  position: absolute;
  bottom: -10px;
  left: 175px;
}
.page-content > .user .header-wrap .banner .container .banner-content .actions .nav-btn {
  background: #1df1f1;
}
.page-content > .user .header-wrap .banner .container .banner-content .actions .nav-btn:hover {
  background: #17c1c1;
}
.page-content > .user .header-wrap .banner .container .banner-content .actions .dropdown {
  display: none;
}
.page-content > .user .content {
  padding: 0;
}
.page-content > .user .content .overview .section .about .content-wrap {
  background: #302d31;
  color: #ffffff;
}
.page-content > .user .content .overview .section .desktop .section-header {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Monomaniac One", sans-serif;
}
.page-content > .user .content .overview .section .desktop .section-header .actions > a:hover {
  color: #1df1f1;
}
.page-content > .user .content .overview .section .desktop .activity-history {
  background: #302d31;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day {
  background: #221f23;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-1 {
  background: #094848;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-2 {
  background: #0c6060;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-3 {
  background: #0f7979;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-4 {
  background: #119191;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-5 {
  background: #14a9a9;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-6 {
  background: #17c1c1;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-7 {
  background: #1ad9d9;
}
.page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-8, .page-content > .user .content .overview .section .desktop .activity-history .history-day.lv-9 {
  background: #1df1f1;
}
.page-content > .user .content .overview .section .desktop .genre-overview {
  background: #302d31;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre {
  display: flex !important;
  flex-direction: row;
  gap: 10px;
  font-weight: 800;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre .name {
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 0px;
  width: 60%;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre .amount {
  background: #534f54;
  padding: 10px;
  width: 30%;
  border-radius: 4px;
  font-size: 1.5rem;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre .amount .label {
  color: #ffffff;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre::before {
  display: block;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 4px;
  width: 10%;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(1) .name {
  background: #1df1f1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(1) .amount {
  color: #1df1f1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(1):before {
  content: "#1";
  background: #1df1f1;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(2) .name {
  background: #1ad9d9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(2) .amount {
  color: #1ad9d9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(2):before {
  content: "#2";
  background: #1ad9d9;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(3) .name {
  background: #17c1c1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(3) .amount {
  color: #17c1c1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(3):before {
  content: "#3";
  background: #17c1c1;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(4) .name {
  background: #14a9a9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(4) .amount {
  color: #14a9a9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(4):before {
  content: "#4";
  background: #14a9a9;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(5) .name {
  background: #119191 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(5) .amount {
  color: #14a9a9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .genres .genre:nth-child(5):before {
  content: "#5";
  background: #119191;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(1) {
  background: #1df1f1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(2) {
  background: #1ad9d9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(3) {
  background: #17c1c1 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(4) {
  background: #14a9a9 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(5) {
  background: #119191 !important;
}
.page-content > .user .content .overview .section .desktop .genre-overview .percentage-bar .percentage:nth-child(6) {
  background: #0f7979 !important;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap {
  overflow: visible;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap .favourite {
  opacity: 60%;
  transition: opacity 250ms ease-in-out, outline 200ms ease-in-out, transform 350ms ease-out;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap .favourite:hover {
  opacity: 100%;
  outline: 3px solid #1df1f1;
  transform: scale(1.2);
  z-index: 5;
  transition: opacity 250ms ease-in-out, outline 500ms ease-in-out, transform 350ms ease-in 500ms;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap.studios {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap.studios .studio {
  min-height: fit-content;
  padding: 10px !important;
  background: #302d31 !important;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap.studios .studio::after {
  display: none;
}
.page-content > .user .content .overview .section .desktop.favourites > .favourites-wrap.studios .studio:hover {
  opacity: 1;
  color: #1df1f1;
}
.page-content > .user .content .overview .section .stats-wrap {
  gap: 20px;
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap {
  background: #302d31;
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap .stats-wrap {
  gap: 10px;
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap .stats-wrap .stat {
  padding: 10px;
  border-radius: 5px;
  background: #534f54;
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap .stats-wrap .stat .value {
  color: #1df1f1;
  font-size: 2rem;
  font-weight: 800;
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap .stats-wrap .stat .label {
  color: #ffffff;
  font-size: 1.2rem;
  visibility: hidden;
  position: relative;
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap .stats-wrap .stat .label::after {
  visibility: visible;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap:nth-child(1) .stats-wrap .stat:nth-child(1) .label::after {
  content: "Anime";
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap:nth-child(1) .stats-wrap .stat:nth-child(2) .label::after {
  content: "Days";
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap:nth-child(1) .stats-wrap .stat:nth-child(3) .label::after {
  content: "Episodes";
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap:nth-child(2) .stats-wrap .stat:nth-child(1) .label::after {
  content: "Manga";
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap:nth-child(2) .stats-wrap .stat:nth-child(2) .label::after {
  content: "Chapters";
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap:nth-child(2) .stats-wrap .stat:nth-child(3) .label::after {
  content: "Volumes";
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap .footer {
  background: #302d31;
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap .footer .milestones .milestone {
  font-weight: 800;
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap .footer .progress {
  background: #534f54;
}
.page-content > .user .content .overview .section .stats-wrap .content-wrap .footer .progress .bar {
  background: linear-gradient(270deg, #1df1f1, #119191);
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Monomaniac One", sans-serif;
  letter-spacing: 0.2rem;
  padding: 1rem;
  background: #302d31;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header .el-dropdown {
  float: none;
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header .el-dropdown .el-dropdown-menu {
  padding: 0 !important;
  height: 100%;
  display: flex !important;
  flex-direction: row !important;
  margin: 0;
  cursor: default;
  transform: translate(0);
  margin-top: 0px !important;
  background: transparent !important;
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header .el-dropdown .el-dropdown-menu__item {
  visibility: hidden;
  position: relative;
  width: 48px;
  padding: 0;
  cursor: default;
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header .el-dropdown .el-dropdown-menu__item::after {
  content: "";
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 24px;
  width: 24px;
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #ffffff;
  cursor: pointer;
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header .el-dropdown .el-dropdown-menu__item:hover::after {
  background-color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header .el-dropdown .el-dropdown-menu__item:nth-child(1)::after {
  -webkit-mask: url(../Icons/All.svg) no-repeat 50% 50%;
  mask: url(../Icons/All.svg) no-repeat 50% 50%;
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header .el-dropdown .el-dropdown-menu__item:nth-child(2)::after {
  -webkit-mask: url(../Icons/Post.svg) no-repeat 50% 50%;
  mask: url(../Icons/Post.svg) no-repeat 50% 50%;
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header .el-dropdown .el-dropdown-menu__item:nth-child(3)::after {
  -webkit-mask: url(../Icons/Message.svg) no-repeat 50% 50%;
  mask: url(../Icons/Message.svg) no-repeat 50% 50%;
}
.page-content > .user .content .overview .section .activity-feed-wrap .section-header .el-dropdown .el-dropdown-menu__item:nth-child(4)::after {
  -webkit-mask: url(../Icons/List.svg) no-repeat 50% 50%;
  mask: url(../Icons/List.svg) no-repeat 50% 50%;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-edit .markdown-editor {
  background: #302d31;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-edit .markdown-editor > div {
  color: #ffffff !important;
  display: flex;
  padding: 5px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-edit .markdown-editor > div:hover {
  color: #1df1f1 !important;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-edit .input textarea {
  background: #302d31;
  min-height: 45px !important;
  font-size: 1.5rem;
  padding: 1rem;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-edit .actions .cancel {
  color: #ffffff;
  background: #534f54;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-edit .actions .save {
  background: #1ad9d9;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-edit .actions .save:hover {
  background: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap {
  background: #302d31;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .list {
  min-height: 120px;
  grid-template-columns: 85px auto;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .list .details {
  padding: 16px 16px 40px;
  padding-right: 16px;
  position: relative;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .list .details .status {
  padding: 10px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .list .details .status .title {
  color: #1df1f1 !important;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .list .details .entry-dropdown {
  left: 5px;
  top: 5px;
  opacity: 1;
  background: #534f54;
  border-radius: 4px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .time {
  width: fit-content;
  top: unset;
  right: 15px;
  left: 100px;
  bottom: 4px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 30px;
  gap: 5px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .time .action {
  height: 26px;
  width: 26px;
  background: #534f54;
  border-radius: 4px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #ffffff;
  margin-left: 0px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .time .action.active {
  color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .time .action:hover {
  color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .time .action::before {
  left: 50%;
  top: -30px;
  transform: translate(-50%);
  background: #534f54;
  color: #ffffff;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .time > span svg {
  height: 100%;
  width: 100%;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .time time {
  color: #ffffff;
  font-size: 1.25rem;
  padding: 5px;
  border-radius: 4px;
  background: #534f54;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .time:hover {
  background: transparent;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions {
  right: 15px;
  bottom: 4px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action {
  position: relative;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action .count,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action .button .count {
  color: #ffffff !important;
  font-size: 1.6rem;
  position: absolute;
  bottom: 100%;
  left: 56%;
  transform: translate(-50%);
  background: #534f54;
  padding: 5px;
  border-radius: 4px;
  display: none;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action svg {
  padding: 5px;
  height: 26px;
  width: 26px;
  border-radius: 4px;
  stroke: #ffffff;
  color: #ffffff;
  background: #534f54;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action svg:hover {
  color: #1df1f1;
  stroke: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action .like-wrap .users {
  display: none !important;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action .like-wrap .button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action .like-wrap .button .count {
  left: 50%;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action .button.liked svg {
  color: #1df1f1;
  stroke: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action:hover .count,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action:hover .button .count {
  color: #1df1f1 !important;
  display: block;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .wrap .actions .action:hover svg {
  color: #1df1f1;
  stroke: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply {
  background: #302d31;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header {
  padding: 0px 0px 10px 0px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .avatar {
  outline: 3px solid transparent;
  border-radius: 50%;
  transition: color 200ms ease-out;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .name {
  color: #ffffff;
  font-size: 2rem;
  transition: color 200ms ease-out;
  font-family: "Monomaniac One", sans-serif;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .donator-badge {
  background: #1ad9d9;
  color: #ffffff;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions {
  right: 15px;
  bottom: 4px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time time {
  color: #ffffff;
  font-size: 1.25rem;
  padding: 5px;
  border-radius: 4px;
  background: #534f54;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time div.action {
  visibility: hidden;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time div.action::after {
  content: "";
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  height: 24px;
  width: 24px;
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #ffffff;
  -webkit-mask: url(../Icons/Edit.svg) no-repeat 50% 50%;
  mask: url(../Icons/Edit.svg) no-repeat 50% 50%;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time div.action::before,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time span.action::before {
  content: "";
  visibility: visible;
  border-radius: 4px;
  background: #534f54;
  height: 26px;
  width: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time > .action {
  opacity: 1;
  min-width: 26px;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background: #534f54;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time > .action > svg {
  stroke: #ffffff;
  color: #ffffff;
  transform: scale(1.3);
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time > .action:hover > svg {
  stroke: #1df1f1;
  color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .time > .action:hover:nth-child(1)::after {
  background: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .likes .like-wrap .users {
  display: none !important;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .likes .like-wrap .button {
  background: #534f54;
  height: 26px;
  width: 26px;
  border-radius: 4px;
  display: flex;
  justify-self: center;
  align-items: center;
  position: relative;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .likes .like-wrap .button .count {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%);
  background: #534f54;
  padding: 5px;
  border-radius: 4px;
  color: #1df1f1;
  font-size: 1.5rem;
  font-weight: 800;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .likes .like-wrap .button > svg {
  transform: scale(1.5);
  color: #ffffff;
  stroke: #ffffff;
  width: 26px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .likes .like-wrap .button:hover > svg, .page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .likes .like-wrap .button.liked > svg {
  color: #1df1f1;
  stroke: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .header .actions .likes .like-wrap .button:hover .count {
  display: block;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown:before {
  content: "";
  background: radial-gradient(circle, #ffffff 0%, #ffffff 0%, transparent 100%);
  height: 2px;
  width: 100%;
  display: block;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 14px 0px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown .markdown-spoiler:before {
  background: #1ad9d9;
  color: #ffffff;
  padding: 5px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown .markdown-spoiler .hide-spoiler {
  color: white;
  opacity: 1;
  top: -5px;
  right: -5px;
  transform: scale(1.1);
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown .markdown-spoiler .hide-spoiler:hover {
  color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown .markdown-spoiler > span {
  background: #534f54;
  padding: 10px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown blockquote {
  background: #534f54;
  border-left: 7px solid #ffffff;
  transition: border-left 200ms ease-out;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown blockquote:hover {
  border-left: 7px solid #1df1f1;
  transition: border-left 200ms ease-in;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown a {
  color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown a:visited {
  color: #17c1c1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown a .embed {
  background: #534f54;
  padding: 5px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown a .embed .cover {
  border-radius: 3px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown a .embed .wrap {
  background: #534f54;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown a .embed .wrap .title {
  color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown a .embed .wrap .info {
  color: #ffffff;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown h1,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown h2 {
  color: #ffffff;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply .reply-markdown .markdown::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-border-radius: 16px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply:hover .header .avatar {
  outline: 3px solid #1df1f1;
  transition: outline 200ms ease-in;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply:hover .header .name {
  color: #1df1f1;
  transition: color 200ms ease-in;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply:hover .reply-markdown:before {
  content: "";
  background: radial-gradient(circle, #1df1f1 0%, #1df1f1 53%, transparent 100%);
  height: 2px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-feed .activity-entry .reply-wrap .activity-replies .reply:hover .reply-markdown .markdown::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-border-radius: 16px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap {
  background: #302d31;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text {
  padding-bottom: 40px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .header,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .header {
  padding: 0px 0px 10px 0px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .header .avatar,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .header .avatar {
  outline: 3px solid transparent;
  border-radius: 50%;
  transition: color 200ms ease-out;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .header .name,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .header .name {
  color: #ffffff;
  font-size: 2rem;
  transition: color 200ms ease-out;
  font-family: "Monomaniac One", sans-serif;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .header .donator-badge,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .header .donator-badge {
  background: #1ad9d9;
  color: #ffffff;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown:before, .page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown::after,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown:before,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown::after {
  content: "";
  background: radial-gradient(circle, #ffffff 0%, #ffffff 0%, transparent 100%);
  height: 2px;
  width: 100%;
  display: block;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 14px 0px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown .markdown-spoiler:before,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown .markdown-spoiler:before {
  background: #1ad9d9;
  color: #ffffff;
  padding: 5px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown .markdown-spoiler .hide-spoiler,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown .markdown-spoiler .hide-spoiler {
  color: white;
  opacity: 1;
  top: -5px;
  right: -5px;
  transform: scale(1.1);
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown .markdown-spoiler .hide-spoiler:hover,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown .markdown-spoiler .hide-spoiler:hover {
  color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown .markdown-spoiler > span,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown .markdown-spoiler > span {
  background: #534f54;
  padding: 10px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown blockquote,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown blockquote {
  background: #534f54;
  border-left: 7px solid #ffffff;
  transition: border-left 200ms ease-out;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown blockquote:hover,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown blockquote:hover {
  border-left: 7px solid #1df1f1;
  transition: border-left 200ms ease-in;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown a,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown a {
  color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown a:visited,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown a:visited {
  color: #17c1c1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown a .embed,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown a .embed {
  background: #534f54;
  padding: 5px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown a .embed .cover,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown a .embed .cover {
  border-radius: 3px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown a .embed .wrap,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown a .embed .wrap {
  background: #534f54;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown a .embed .wrap .title,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown a .embed .wrap .title {
  color: #1df1f1;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown a .embed .wrap .info,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown a .embed .wrap .info {
  color: #ffffff;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown h1,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown h2,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown h1,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown h2 {
  color: #ffffff;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown::-webkit-scrollbar,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .text .activity-markdown .markdown::-webkit-scrollbar-thumb,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .text .activity-markdown .markdown::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-border-radius: 16px;
  opacity: 0;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text .wrap .time,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message .wrap .time {
  left: 15px !important;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text:hover .wrap .header .avatar,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message:hover .wrap .header .avatar {
  outline: 3px solid #1df1f1;
  transition: outline 200ms ease-in;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text:hover .wrap .header .name,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message:hover .wrap .header .name {
  color: #1df1f1;
  transition: color 200ms ease-in;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text:hover .wrap .activity-markdown:before, .page-content > .user .content .overview .section .activity-feed-wrap .activity-text:hover .wrap .activity-markdown::after,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message:hover .wrap .activity-markdown:before,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message:hover .wrap .activity-markdown::after {
  content: "";
  background: radial-gradient(circle, #1df1f1 0%, #1df1f1 53%, transparent 100%);
  height: 2px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .activity-text:hover .wrap .activity-markdown .markdown::-webkit-scrollbar-thumb,
.page-content > .user .content .overview .section .activity-feed-wrap .activity-message:hover .wrap .activity-markdown .markdown::-webkit-scrollbar-thumb {
  background-color: #1df1f1;
  -webkit-border-radius: 16px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .scroller .load-more {
  background: #302d31;
  margin-top: 0px;
}
.page-content > .user .content .overview .section .activity-feed-wrap .scroller:hover .load-more {
  background: #534f54;
  color: #1df1f1;
}
.page-content > .user .content .favourites .section-header {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.page-content > .user .content .favourites .section-header .actions > div {
  background: #302d31;
  color: #ffffff;
}
.page-content > .user .content .favourites .section-header .actions > div:hover {
  background: #1ad9d9;
}
.page-content > .user .content .favourites .favourites-wrap {
  background: #302d31;
}
.page-content > .user .content .favourites .favourites-wrap > a {
  opacity: 60%;
  transition: opacity 250ms ease-in-out, outline 200ms ease-in-out, transform 350ms ease-out;
}
.page-content > .user .content .favourites .favourites-wrap > a .delete {
  color: #ffffff;
  background: #1ad9d9;
}
.page-content > .user .content .favourites .favourites-wrap > a:hover {
  opacity: 100%;
  outline: 3px solid #1df1f1;
  transform: scale(1.1);
  z-index: 5;
  transition: opacity 250ms ease-in-out, outline 500ms ease-in-out, transform 350ms ease-in 500ms;
}
.page-content > .user .content .favourites .favourites-wrap.studios > a {
  padding: 10px;
  background: #534f54;
  color: #ffffff;
}
.page-content > .user .content .favourites .favourites-wrap.studios > a:hover {
  color: #1df1f1;
}
.page-content > .user .content .favourites.sorting .studios .studio::after {
  display: none !important;
}
.page-content > .user .content .favourites.sorting .studios .studio:hover {
  cursor: move;
}
.page-content > .user .content .medialist .filters-wrap {
  background: #302d31;
  padding: 10px;
  border-radius: 4px;
  height: fit-content;
}
.page-content > .user .content .medialist .filters-wrap .filter-mobile-wrap .entry-filter input {
  background: #534f54;
  color: #ffffff;
}
.page-content > .user .content .medialist .filters-wrap .filter-mobile-wrap .entry-filter input::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
.page-content > .user .content .medialist .filters-wrap .filter-mobile-wrap .entry-filter .el-input__prefix {
  color: #ffffff;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group .group-header {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Monomaniac One", sans-serif;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group .group-header > .action:hover {
  color: #1ad9d9;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group > span {
  color: #ffffff;
  padding: 5px;
  background: transparent;
  transition: background 150ms ease-in;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group > span:not(.active):hover {
  background: #534f54;
  transition: background 150ms ease-out;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group > span.active {
  background: #1ad9d9;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group > span .count {
  padding-right: 5px;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group .el-select .el-input input {
  background: #534f54;
  color: #ffffff;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group .el-select .el-input input::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group .el-slider .el-slider__runway {
  background: #534f54;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group .el-slider .el-slider__runway .el-slider__bar {
  background: #1df1f1;
}
.page-content > .user .content .medialist .filters-wrap .filters .filter-group .el-slider .el-slider__runway .el-slider__button-wrapper .el-slider__button {
  background-color: #534f54;
  border-color: #1df1f1;
}
.page-content > .user .content .medialist .filters-wrap .filters .random-btn {
  background: #534f54;
  transition: background 150ms ease-in;
}
.page-content > .user .content .medialist .filters-wrap .filters .random-btn:hover {
  background: #1ad9d9;
  transition: background 150ms ease-out;
}

.el-dropdown-menu {
  background: #534f54 !important;
  margin-top: 12px !important;
  padding: 5px !important;
  flex-direction: column !important;
  gap: 5px !important;
  transform: translate(54px);
}
.el-dropdown-menu.activity-extras-dropdown {
  transform: translate(62px);
}
.el-dropdown-menu .popper__arrow {
  display: none;
}
.el-dropdown-menu .el-dropdown-menu__item {
  color: #ffffff !important;
  border-radius: 4px !important;
}
.el-dropdown-menu .el-dropdown-menu__item:not(.is-disabled):hover {
  background: #14a9a9 !important;
}
.el-dropdown-menu .el-dropdown-menu__item .el-dropdown-menu__item--divided {
  border-top: none !important;
}
.el-dropdown-menu .el-dropdown-menu__item .el-dropdown-menu__item--divided:before {
  background: #302d31 !important;
}

.el-select-dropdown {
  background: #534f54 !important;
  outline: 2px solid #221f23;
}
.el-select-dropdown .el-scrollbar .el-select-dropdown__wrap .el-scrollbar__view .el-select-dropdown__item {
  color: #ffffff !important;
}
.el-select-dropdown .el-scrollbar .el-select-dropdown__wrap .el-scrollbar__view .el-select-dropdown__item:hover, .el-select-dropdown .el-scrollbar .el-select-dropdown__wrap .el-scrollbar__view .el-select-dropdown__item.hover {
  background-color: #1ad9d9 !important;
}
.el-select-dropdown .popper__arrow {
  display: none !important;
}

.el-dialog .el-dialog__body {
  background: #221f23 !important;
}

.el-message-box {
  background: #221f23 !important;
}
.el-message-box .el-message-box__header .el-message-box__title {
  color: #ffffff !important;
}
.el-message-box .el-message-box__header .el-message-box__headerbtn .el-message-box__close {
  color: #ffffff !important;
}
.el-message-box .el-message-box__message {
  color: #ffffff !important;
}
.el-message-box .el-message-box__message .el-message-box__input .el-input .el-input__inner {
  background: #302d31 !important;
  color: #ffffff !important;
}
.el-message-box .el-message-box__btns .el-button--default {
  background: #534f54 !important;
  color: #ffffff !important;
}
.el-message-box .el-message-box__btns .el-button--default:hover {
  background: #302d31 !important;
}
.el-message-box .el-message-box__btns .el-button--primary {
  background: #1ad9d9 !important;
  color: #ffffff !important;
}
.el-message-box .el-message-box__btns .el-button--primary:hover {
  background: #17c1c1 !important;
}

.tooltip {
  color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.tooltip .title {
  color: #ffffff;
  background: #302d31;
}
.tooltip .content {
  color: #ffffff;
  background: #534f54;
}
.tooltip .content .circle {
  background: #221f23;
}
.tooltip .content .circle.lv-1 {
  background: #094848;
}
.tooltip .content .circle.lv-2 {
  background: #0c6060;
}
.tooltip .content .circle.lv-3 {
  background: #0f7979;
}
.tooltip .content .circle.lv-4 {
  background: #119191;
}
.tooltip .content .circle.lv-5 {
  background: #14a9a9;
}
.tooltip .content .circle.lv-6 {
  background: #17c1c1;
}
.tooltip .content .circle.lv-7 {
  background: #1ad9d9;
}
.tooltip .content .circle.lv-8, .tooltip .content .circle.lv-9 {
  background: #1df1f1;
}

.footer[data-v-0f519cab] {
  margin-left: 150px;
  width: calc(100% - 200px);
  border-radius: 20px 20px 0px 0px;
  background: #302d31;
  color: #ffffff;
}
.footer[data-v-0f519cab] .container .theme-selector {
  display: none;
}
.footer[data-v-0f519cab] .container .links {
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer[data-v-0f519cab] .container .links section {
  margin-left: 40px;
  margin-right: 40px;
}
.footer[data-v-0f519cab] .container .links section a:hover {
  color: #1df1f1;
}

@media (min-width: 1540px), (min-width: 1040px) and (max-width: 1540px) {
  .container {
    max-width: 100%;
  }
}/*# sourceMappingURL=darkTheme-AppVer.css.map */