$text: #ffffff;
$background: #221f23;
$primary: #195bb8;
$secondary: #302d31;
$secondaryHv: #534f54;
$accent: #1df1f1;

//Accent Shades
$accent10: #1ad9d9;
$accent20: #17c1c1;
$accent30: #14a9a9;
$accent40: #119191;
$accent50: #0f7979;
$accent60: #0c6060;
$accent70: #094848;

//Other
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	background: $background;
	color: $text;
	font-family: "Poppins", sans-serif;
}

#nav {
	margin-left: 150px;
	width: calc(100% - 200px);
	border-radius: 0px 0px 20px 20px;
	background: $secondary;
	> .wrap {
		.logo {
			display: none;
		}
		.links {
			> .link {
				font-size: 1.5rem;
				color: $text;
				&:hover {
					background: $primary;
					border-radius: 5px;
				}
			}
			> .browse-wrap {
				position: relative;
				> .link {
					font-size: 1.5rem;
					color: $text;
					&:hover {
						background: $primary;
						border-radius: 5px;
					}
				}
			}
		}
		.dropdown {
			top: 60px;
			left: 50%;
			transform: translate(-50%);
			background: $secondary;
			animation: none;
			&::before {
				width: 100%;
				height: 30px;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;
				left: 0;
				color: transparent;
			}
			.primary-links {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				.primary-link {
					margin: 0;
					color: $text;
					.icon {
						top: auto;
						color: white;
					}
					a {
						color: $text;
					}
					section {
						.secondary-links {
							display: none;
						}
					}
					&:hover {
						a {
							color: $accent;
						}
						.icon {
							color: $accent;
						}
						.label {
							color: $accent;
						}
					}
				}
			}
			.footer {
				background: $secondaryHv;
				> a {
					color: $text;
					&:hover {
						color: $accent;
						.icon {
							color: $accent;
						}
					}
				}
			}
		}
		.user {
			.user-wrap {
				.dropdown {
					top: 70px;
					.primary-links {
						flex-direction: column;
						gap: 15px;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.page-content {
	padding: 50px;
	padding-top: 125px;
	margin-left: 100px;
	.nav-wrap {
		position: fixed;
		left: 0;
		top: 0;
		width: 100px;
		height: 100vh;
		display: flex;
		align-items: center;
		background: $secondary;
		.nav {
			padding: 0;
			min-width: 100%;
			height: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			a {
				visibility: hidden;
				position: relative;
				&:before {
					visibility: visible;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
				}
				&:nth-child(1) {
					&::before {
						content: url(../Icons/Home.svg);
					}
				}
				&:nth-child(2) {
					&::before {
						content: url(../Icons/Video.svg);
					}
				}
				&:nth-child(3) {
					&::before {
						content: url(../Icons/Book.svg);
					}
				}
				&:nth-child(4) {
					&::before {
						content: url(../Icons/Heart.svg);
					}
				}
				&:nth-child(5) {
					&::before {
						content: url(../Icons/Stats.svg);
					}
				}
				&:nth-child(6) {
					&::before {
						content: url(../Icons/Social.svg);
					}
				}
				&:nth-child(7) {
					display: none;
				}
				&:nth-child(8) {
					display: none;
				}
				&:hover {
					&::before {
						background: $secondaryHv;
						border-radius: 5px;
					}
				}
				&.router-link-active {
					&::before {
						background: $primary;
					}
					&:hover {
						cursor: default;
						&::before {
							background: $primary;
						}
					}
				}
			}
		}
	}
	> .user {
		display: flex;
		flex-direction: column;
		gap: 50px;
		.header-wrap {
			border-radius: 5px;
			overflow: hidden;
			.banner {
				.container {
					display: flex;
					align-items: center;
					.banner-content {
						display: flex;
						align-items: center;
						position: relative;
						.name-wrapper {
							.name {
								font-size: 3rem;
							}
						}
						.actions {
							margin: 0;
							position: absolute;
							bottom: -10px;
							left: 175px;
							.nav-btn {
								background: $primary;
								&:hover {
									background: $accent;
								}
							}
							.dropdown {
								display: none;
							}
						}
					}
				}
			}
		}
		.content {
			padding: 0;
			.overview {
				.section {
					.about {
						.content-wrap {
							background: $secondary;
							color: $text;
						}
					}
					.desktop {
						.section-header {
							font-size: 2rem;
							font-weight: 600;
							color: $text;
							font-family: "Poppins", sans-serif;
						}
						.activity-history {
							background: $secondary;
							.history-day {
								background: $background;
								&.lv-1 {
									background: $accent70;
								}
								&.lv-2 {
									background: $accent60;
								}
								&.lv-3 {
									background: $accent50;
								}
								&.lv-4 {
									background: $accent40;
								}
								&.lv-5 {
									background: $accent30;
								}
								&.lv-6 {
									background: $accent20;
								}
								&.lv-7 {
									background: $accent10;
								}
								&.lv-8,
								&.lv-9 {
									background: $accent;
								}
							}
						}
						.genre-overview {
							background: $secondary;
							.genres {
								display: flex;
								flex-direction: column;
								gap: 10px;
								.genre {
									display: flex !important;
									flex-direction: row;
									gap: 10px;
									font-weight: 800;
									.name {
										padding: 10px;
										font-size: 1.5rem;
										margin-bottom: 0px;
										width: 60%;
									}
									.amount {
										background: $background;
										padding: 10px;
										width: 40%;
										border-radius: 4px;
										font-size: 1.5rem;
										.label {
											color: $text;
										}
									}
									&::before {
										display: block;
										font-size: 1.5rem;
										padding: 10px;
										border-radius: 4px;
									}
									&:nth-child(1) {
										.name {
											background: $accent !important;
										}
										.amount {
											color: $accent !important;
										}
										&:before {
											content: "#1";
											background: $accent;
										}
									}
									&:nth-child(2) {
										.name {
											background: $accent10 !important;
										}
										.amount {
											color: $accent10 !important;
										}
										&:before {
											content: "#2";
											background: $accent10;
										}
									}
									&:nth-child(3) {
										.name {
											background: $accent20 !important;
										}
										.amount {
											color: $accent20 !important;
										}
										&:before {
											content: "#3";
											background: $accent20;
										}
									}
									&:nth-child(4) {
										.name {
											background: $accent30 !important;
										}
										.amount {
											color: $accent30 !important;
										}
										&:before {
											content: "#4";
											background: $accent30;
										}
									}
									&:nth-child(5) {
										.name {
											background: $accent40 !important;
										}
										.amount {
											color: $accent40 !important;
										}
										&:before {
											content: "#5";
											background: $accent40;
										}
									}
								}
							}
							.percentage-bar {
								.percentage {
									&:nth-child(1) {
										background: $accent !important;
									}
									&:nth-child(2) {
										background: $accent10 !important;
									}
									&:nth-child(3) {
										background: $accent20 !important;
									}
									&:nth-child(4) {
										background: $accent30 !important;
									}
									&:nth-child(5) {
										background: $accent40 !important;
									}
									&:nth-child(6) {
										background: $accent50 !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.tooltip {
	color: $text;
	border-radius: 10px;
	overflow: hidden;
	.title {
		color: $text;
		background: $secondary;
	}
	.content {
		color: $text;
		background: $secondaryHv;
		.circle {
			background: $background;
			&.lv-1 {
				background: $accent70;
			}
			&.lv-2 {
				background: $accent60;
			}
			&.lv-3 {
				background: $accent50;
			}
			&.lv-4 {
				background: $accent40;
			}
			&.lv-5 {
				background: $accent30;
			}
			&.lv-6 {
				background: $accent20;
			}
			&.lv-7 {
				background: $accent10;
			}
			&.lv-8,
			&.lv-9 {
				background: $accent;
			}
		}
	}
}

.footer[data-v-0f519cab] {
	margin-left: 150px;
	width: calc(100% - 200px);
	border-radius: 20px 20px 0px 0px;
	background: $secondary;
	color: $text;
	.container {
		.theme-selector {
			display: none;
		}
		.links {
			margin-left: 0;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			section {
				margin-left: 40px;
				margin-right: 40px;
				a {
					&:hover {
						color: $accent;
					}
				}
			}
		}
	}
}

@media (min-width: 1540px) {
	.container {
		max-width: 100%;
	}
}
