$text: #ffffff;
$background: #0f0f0f;
$primary: #195bb8;
$secondary: #262726;
$accent: #1df1f1;

body {
	background: $background;
}

#nav {
	position: fixed;
	left: 0;
	top: 0 !important;
	height: 100vh;
	width: fit-content;
	background: $secondary;
	.wrap {
		display: flex;
		flex-direction: column;
		margin: 0;
		justify-content: space-between;
		.logo {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 10%;
		}
		.links {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			height: 75%;
			color: $text;
			> a {
				visibility: hidden;
				position: relative;
				&::after {
					visibility: visible;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				> span {
					> a {
						&:nth-child(1) {
							&::after {
								content: url(../Icons/Browse.svg);
								visibility: visible;
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
				&:nth-child(1) {
					&::after {
						content: url(../Icons/Home.svg);
					}
				}
				&:nth-child(2) {
					&::after {
						content: url(../Icons/Social.svg);
					}
				}
				&:nth-child(3) {
					&::after {
						content: url(../Icons/Video.svg);
					}
				}
				&:nth-child(4) {
					&::after {
						content: url(../Icons/Book.svg);
					}
				}
				&:nth-child(6) {
					&::after {
						content: url(../Icons/People.svg);
					}
				}
			}
		}
		.search {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 5%;
			margin: 0;
		}
		.user {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 10%;
		}
	}
}
